<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="algonquin.cst2355.xu">

    <!-- Permission to use the camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Required feature for the camera -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <!-- Permission to write external storage (for storing pictures) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permission to access telephony features (for making phone calls) -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="Xu's Android Labs"
        android:supportsRtl="true"
        android:theme="@style/Theme.XusAndroidLabs"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecondActivity -->
        <activity
            android:name=".SecondActivity"
            android:exported="true" />
    </application>

</manifest>